<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>实验-4 A*算法求解八数码问题实验</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="stylesheet" href="../static/assets/fonts/line-icons.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="../static/assets/css/main.css">
    <style>
        .post-content p {
            font-size: 20px;
        }
    </style>
</head>
<body>

<!-- Header Section Start -->
<header>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a href="index.html" class="navbar-brand"><img src="../static/assets/img/logo.png"></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto w-100 justify-content-center clearfix">
                    <li class="nav-item" style="display:inline;font-size: 20px">
                        <a class="nav-link" href="/index#hero-area">
                            主页
                        </a>
                    </li>
                    <li class="nav-item" style="display:inline;padding-left: 10%;font-size: 20px">
                        <a class="nav-link" href="/index#services">
                            实验列表
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
</header>
<!-- Header Section End -->

<!-- Page header Start -->
<section class="page-header">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper text-center">
                    <h2>A*算法求解八数码问题实验</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page header End -->

<!-- Blog Section Start  -->
<div id="blog-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="blog-post">
                    <div class="post-content">
                        <h3>一、实验目的</h3>
                        <p>熟悉和掌握启发式搜索的定义、估价函数和算法过程，并利用A*算法求解N数码难题，理解求解流程和搜索顺序。</p>
                        <br>
                        <h3>二、实验内容</h3>
                        <p>以8数码问题和15数码问题为例实现A*算法的求解程序（编程语言不限），要求设计两种不同的估价函数。</p>
                        <br>
                        <h3>三、实验要求</h3>
                        <p>1. 设置相同的初始状态和目标状态，针对不同的估价函数，求得问题的解，比较他们对搜索算法性能的影响，包括扩展节点数、生成节点数等.
                            <br>2.设置与上述1相同的初始状态和目标状态，用宽度优先搜索算法（即令估计代价h（n）=0的A*算法）求得问题的解，以及搜索过程中的扩展节点数、生成节点数。
                            <br>3.实现A*算法求解15数码问题的程序，设计两种不同的估价函数，然后重复上述1和2的实验内容。</p>
                        <br>
                        <h3>四、实验报告要求</h3>
                        <p>1. 分析不同的估价函数对A*算法性能的影响。
                            <br>2. 根据宽度优先搜索算法和A*算法求解8、15数码问题的结果，分析启发式搜索的特点。
                            <br>3. 画出A*算法求解N数码问题的流程图。
                            <br>4. 提交源程序。
                            <br>5. 总结实验心得体会。</p>
                    </div>
                </div>
                <div class="blog-post">
                    <div class="post-content">
                        <h3>实验演示</h3>
                        <div id="content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Section End  -->

<!-- Copyright Section Start -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-xs-12">
                <div class="footer-logo">
                    <img src="../static/assets/img/img_07.gif" alt="">
                </div>
            </div>
            <div class="col-lg-8 col-md-5 col-xs-12">
                <p class="float-left">浙江省杭州市下城区潮王路18号 | 邮编 310014 | 查号台 0571-88320114
                    版权所有 © 浙江工业大学</p>
            </div>
        </div>
    </div>
</div>
<!-- Copyright Section End -->

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
    <i class="lni-arrow-up"></i>
</a>

<!-- Preloader -->
<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/assets/js/jquery-min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<script src="../static/assets/js/owl.carousel.min.js"></script>
<script src="../static/assets/js/jquery.mixitup.js"></script>
<script src="../static/assets/js/wow.js"></script>
<script src="../static/assets/js/jquery.nav.js"></script>
<script src="../static/assets/js/scrolling-nav.js"></script>
<script src="../static/assets/js/jquery.easing.min.js"></script>
<script src="../static/assets/js/jquery.counterup.min.js"></script>
<script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
<script src="../static/assets/js/jquery.slicknav.js"></script>
<script src="../static/assets/js/main.js"></script>
<script src="../static/assets/js/form-validator.min.js"></script>
<script src="../static/assets/js/contact-form-script.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<!--<script>-->
<!--    $.get('../static/exp_code/exp_4.md', function(response, status, xhr){-->
<!--        $("#content").html(marked(response));-->
<!--    });-->
<!--</script>-->
</body>
</html>